.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #3f3f3f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.main {
  width: 100%;
  height: calc(100vh - 5rem); 
  overflow: hidden;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
